.container{
    margin: auto ;
}

.addHabit{
    margin: auto;
    width: fit-content;
    background-color: white;
    padding: 10px;
    margin-top: 50px;
}

.addHabit input{
    border : 2px ; 
    background-color : white;
    font-weight: 600;
    outline : none ; 
    font-size: 20px;
}

.habitCardContainer{
    width:80%;
    margin: auto;
   
}

.habitCard{
    width: 100% ; 
    height: fit-content ; 
    background: #FC354C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px ;
    margin: 20px 0px;
}

.habitCardTitle{
     display: flex;
     justify-content: space-between;
     
}
.habitActionName{
    display: flex;
    cursor: pointer;
}

.cardName{
   font-weight: 600;
   color: white;
   font-size: 20px ;
   margin-left: 10px ; 
}

.weeklyProgress{
    margin-top: 10px ;
    display: flex;
    justify-content: space-between;
}


.habitCardCheckIcon{
   font-size: 20px;
   color: black ;
}

.habitCardCrossIcon{
    font-size: 20px ;
    color: rgb(150, 10, 10) ;
}


