 .topnav{
   display: flex;
   background: #2BC0E4;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    align-items: center;
    padding: 20px;
    width:100;
    justify-content: space-between;
 }

.navLeft{
   display: flex;
   width: 50%;
   justify-content: space-between;
   align-items: center;
}

.navLeftElem {
    list-style-type: none;
    font-weight: 400;
    text-decoration: none ;
    font-size: 20px;
}

.decorationLogo{
   text-decoration: none ;
   border-radius: 5px ;
   font-size: 20px ;
   font-weight: 600;
}

.decoration{
   text-decoration: none ;
}

.navRightElem{
   color: black;
   font-weight: 600;
}